streamlit>=1.37

IPython
matplotlib
numpy
pandas
plotly

prophet
cmdstanpy

scikit-learn
statsmodels
xgboost
joblib

seaborn

openpyxl
xlrd

xyzservices
yarl
zope.interface

anthropic





